{{define "cmdb"}}
package cmdb

import (
	"encoding/json"
	"log"
	"errors"
	{{if eq .results.mkey_type "integer"}}"strconv"{{end}}

	"github.com/poroping/forti-sdk-go/v2/models"
	"github.com/poroping/forti-sdk-go/v2/request"
)

{{template "cmdb_create" .}}

{{template "cmdb_read" .}}

{{template "cmdb_update" .}}

{{template "cmdb_delete" .}}

{{end}}